mixin pagination
  -
    const items = [
      {content: '2'},
      {content: '3', state: 'current'},
      {content: '...', state: 'dots'},
      {content: '13'},
      {content: '', state: 'next'},
    ];
    const stateModifiers = {
      current: 'pagination__link_value_current',
      dots: 'pagination__link_value_dots',
      next: 'pagination__link_value_next',
    };
  div.pagination
    ul.pagination__list
      each item in items
        - let {content, state} = item;
        li.pagination__item
          a.pagination__link(class=stateModifiers[state]) !{content}
