@import '~Base/theme.scss';
@import '~Base/breakpoints.scss';

.search {
  padding: 0.714rem;

  @media (min-width: $desktop-width-s) {
    padding: 2.286rem 2.857rem 0 2.143rem;
  }

  &__result {
    padding-left: 0.714rem;
  }

  &__result-description {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 2.214rem;
  }

  &__result-title {
    margin: 0 2.643rem 2rem 0;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.286rem;
    font-weight: normal;
  }

  &__description {
    margin-bottom: 2.286rem;
    color: $silk;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.143rem;
  }

  &__aside {
    padding-top: 0.643rem;

    @media(min-width: $tablet-width-l) {
      margin-right: 3rem;
    }
  }

  &__slider-wrapper {
    max-width: 20.714rem;
    margin-top: 3.429rem;
    margin-bottom: 2.357rem;
  }

  &__content-wrapper {
    flex-grow: 1;
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.929rem;
  }

  &__pagination-wrapper {
    margin-bottom: 3.786rem;
  }
}
