@import '~Base/theme.scss';
@import '~Base/variables.scss';
@import '~Normalize';

html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  color: $black;
  background-color: $white;
}

body {
  height: 100%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
