$light-gray: #F8F8F8;
$gray: #E5E5E5;
$pewter: #333333;
$dark-gray: #DEDEDE;
$white: #FFFFFF;
$black: #000000;
$light-yellow: #FFD75F;
$yellow: #F1BD45;
$light-blue: #6D8FD1;
$blue: #5375B7;
$light-beige: #FFFBE0;
$beige: #FFF3D8;
