$light-gray: #F8F8F8;
$gray: #E5E5E5;
$silver: #C7C7C7;
$silk: #8B8B;
$metallic: #B9B9B9;
$pewter: #333333;
$dark-gray: #DEDEDE;
$white: #FFFFFF;
$black: #000000;
$light-yellow: #FFD75F;
$yellow: #F1BD45;
$light-blue: #6D8FD1;
$blue: #5375B7;
$light-beige: #FFFBE0;
$beige: #FFF3D8;
$white-gradient: linear-gradient(269.76deg, #FFFFFF 62.83%, rgba(255, 255, 255, 0) 145.7%);
